[submodule "Module/AndroidUniversalImageLoaderLibrary"]
	path = Module/AndroidUniversalImageLoaderLibrary
	url = https://github.com/imknown/AndroidUniversalImageLoaderLibrary.git
[submodule "Module/xUtils2LibraryForAndroidStudio"]
	path = Module/xUtils2LibraryForAndroidStudio
	url = https://github.com/imknown/xUtils2LibraryForAndroidStudio.git
[submodule "Module/IMKBaseFrameworkLibrary"]
	path = Module/IMKBaseFrameworkLibrary
	url = https://github.com/imknown/IMKBaseFrameworkLibrary.git
